@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    ;
}

section {

    margin-top: 100px;
}

.navbar-brand {

    font-weight: bold;
}

.navigation {

    font-weight: bold;
}

.navigation li a:hover {

    color: black
}

/* slider css */

.carousel-item {

    background-size: cover;

}

.carousel-item::before {

    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: 0.6;

}

.carousel-caption {
    bottom: 215px;
    padding: 0px 100px;
}

.carousel-caption h1 {

    font-size: 65px;

}

.card-body-content h5 {

    font-weight: 600;
    margin-bottom: 16px;
}

.card-body-content p {

    font-size: 14px;
    font-weight: 400;
    color: #777777
}

.card-body-content span {

    color: #289BDE;

}

.common-heading h1 {
    font-size: 40px;
    font-weight: 600;

}

.common-heading {

    width: 50%;
    margin: auto;

}


.common-heading p {

    font-size: 16px;
    font-weight: 400;
    color: #777777
}

.explore h1 {
    font-size: 45px;
    font-weight: 600
}

.explore p {

    font-size: 14px;
    color: #777777";


}

.register-sec-text h1 {

    color: white;
    font-size: 45px;
    font-weight: 600;
}

.register-sec-text p {

    color: white;
    font-size: 14px;
    font-weight: 400;
}

.register-button {

    text-align: end;
}

.fa-angle-left {

    font-size: 25px;
    text-align: center;
    margin: auto;
    height: 30px;
    width: 30px;
    background-color: #E5F6FF;
    border-radius: 50%;
    color: black;

}

.fa-angle-right {

    font-size: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #289BDE;
    border-radius: 50%;
    color: white;

}

.fqa {

    width: 75%;
    margin: auto;
}

.fa-brands {

    font-size: 30px;
    margin-right: 20px;
}




@media screen and (min-width:577px) and (max-width:992px) {

    section {

        margin-top: 60px;
    }

    .carousel-caption {
        bottom: 100px;
        padding: 0px 50px;
    }

    .carousel-caption h1 {

        font-size: 40px;

    }

    .tab-mob-dis {

        display: none;
    }

    .common-heading h1 {
        font-size: 35px;
        font-weight: 600;
    }

    .common-heading {

        width: 75%;
        margin: auto;
    }

    .common-heading p {

        font-size: 16px;
        font-weight: 400;
        color: #777777
    }

    .explore h1 {

        font-size: 35px;
    }

    .register-sec-text {

        text-align: center;
    }


    .register-sec-text h1 {

        font-size: 35px;
    }


    .register-button {

        text-align: center;
    }

    .fqa {

        width: 100%;

    }



}

@media screen and (max-width:576px) {
    section {

        margin-top: 50px;
    }

    .carousel-item img {

        height: 50vh;

    }

    .carousel-caption {
        bottom: 60px;
        padding: 0px 0px;
    }

    .carousel-caption h1 {

        font-size: 25px;

    }

    .common-heading h1 {
        font-size: 25px;
        font-weight: 600;
    }

    .common-heading {

        width: 100%;
        margin: auto;
    }

    .common-heading p {

        font-size: 14px;
        font-weight: 400;
        color: #777777
    }

    .img-responsive {

        width: 100%;
    }

    .tab-mob-dis {

        display: none;
    }

    .explore h1 {

        font-size: 25px;
    }

    .counting {

        width: 50%;
    }

    .counting h1 {

        font-size: 25px;
    }

    .register-sec-text {

        text-align: center;
    }


    .register-sec-text h1 {

        font-size: 25px;
    }

    .register-button {

        text-align: center;
    }

    .fqa {

        width: 100%;

    }






}